*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerStyle{
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.menu{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    position: relative;
}
li{
    padding: 20px;
    font-size: 18px;
    list-style-type: none;
}
.menuText{
    font-size: 18px;
    color: #333;
    /* text-decoration: none; */
}
.container{
    display: flex;
    align-items: baseline;
    height: 100vh;
    gap: 20px;
}
.sidebar{
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.content{
    flex: 1;
    padding: 20px;
}
.main-content{
    display:block;
    text-align: center;
    margin-bottom: 20px;
}
.card-img{
    width: 230px;
    /* height: auto; */
}
.static-cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.sidebar-text{
    margin-bottom: 20px;
}
.bell-icon{
    color: #f5b500
}
.profile-card-img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.profile-card{
    background-color: #e7f3ff;
    padding: 20px;
    text-align: center;
    width: 200px;

}
.nextSection{
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}
.profile-card-button{
    background-color: #007bff;
    color: rgb(48, 43, 43);
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;                  /* Smooth animation */
    z-index: 9999; 
}
.badge{
    position: absolute;
    top: -8px;
    left: 10px;
    font-size: 12px;
    color: red;
    font-weight: bold;
}
.profile-card-swipe{
    background-color: #007bff;
    color: rgb(48, 43, 43);
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height:50px;
}
.profile-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
 
}   
.profile-card-swipe:hover {
  background-color: #dbe4ee; /* Darker blue on hover */
  transform: scale(1.1);     /* Grows slightly bigger */
}

.profile-card-swipe:active {
  transform: scale(0.95);    /* Shrinks slightly when clicked */
}
.footer{
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .headerStyle{
        display:none;
    }
}